<!doctype html>
<html lang="cs">
<head>
    {ifset $subject}
		<title>{$subject}</title>
    {/ifset}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800|Quicksand:300,400,500,600,700|Caveat:400,700&display=swap&subset=latin-ext" rel="stylesheet">
	<link href="https://klient.napojse.cz/applications/suppliers/assets/css/email.css" rel="stylesheet">
</head>
<body>

{* header *}
<div id="header">
	<img src="https://www.napojse.cz/assets/img/logos/110x40_dark.png"
		 alt="Napojse" width="110" height="40">
</div>

{* content *}
<div id="content">
	<div id="content-in">
        {block content}{/block}
	</div>
</div>
</body>
</html>
