<p class="mt-20">
	-- <br>
	Tým Napojse.cz<br>
	email: <a href="mailto:info@napojse.cz">info@napojse.cz</a><br>
	tel: +420 737 690 090<br>
	web: <a href="https://www.napojse.cz/">https://www.napojse.cz</a><br>
	facebook: <a href="https://www.facebook.com/napojse/">https://www.facebook.com/napojse/</a><br>
	nápověda: <a href="https://napoveda.napojse.cz/">https://napoveda.napojse.cz</a><br>
</p>